<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/styles.css">
<div class="container">
    <form class="form" action="">
        <h1>Kontaktirajte nas!</h1>
        <input class="ime" type="text" name="name" id="name" placeholder="Vaše Ime" required>
        <br>
        <input class="email" type="text" name="name" id="name" placeholder="Vaš Email" required>
        <br>
        <input class="tekst" type="text" name="name" id="name" placeholder="Sporočilo" required>
        <input type="submit" value="Pošlji">
    
    </form>
</div>
<%- include("partials/footer.ejs") %>