.about{
    text-align: center;


}
.row{
    margin : 10% 0
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.form{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  
}
input{
    margin: 7px;
}
.tekst{
    margin: 7px;
}

